body,html{
    font-family: "poppins",sans-serif;
    overflow-x: hidden;
    font-size: 0.8rem;
    padding-top: 70px;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:#273036 ;
}
.nav-link{
    font-size: 1rem !important;
    line-height: 1.2;
    padding-bottom: 5px;
}
.nav-link:hover{
    color: rgb(134, 154, 121) !important;
    transition: .5s ;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

svg {
  display: block;
  margin-top: -1px;
  margin-bottom: -5px;
}
#upper-svg{
    margin-top: 30px;
}
#linkedin-git{
    flex-direction: row;
    justify-content: center;
}
.about-me-socials{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 4px;

}
#about-me-photo{
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}
#about-me-info{
    margin-top: 50px;
}
#small-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "poppins",sans-serif;
    font-size: 0.8rem;
}
.role{
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    color: black;
}
.bio{
    text-align: center;
}
#tel{
    margin-top: 20px;
}
#button{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hr{
    margin-top: 40px;
    margin-bottom: 150px;
}
.skill-img{
    height: 200px;
    object-fit: cover;
}
.project-links{
    text-decoration: none;
}
#a-one-image{
    border: solid 1px rgb(199, 199, 199);
}
#project-paragraph{
    margin: 0 40px;
    margin-bottom: 40px;
}
#contact-form{
    margin-top: 20px;
}
#submit-button{
    max-width: 200px;
    width: 100%;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.btn-hover-bounce:hover {
  animation: bounce 0.4s ease-in-out;
}

#my-skills-card:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.glowing-icon {
  display: inline-block;
  margin: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 30%;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  box-shadow: 0 0 5px white, 0 0 10px white;
  transition: all 0.3s ease;
}

.glowing-icon:hover {
  background: white;
  color: black;
;
  box-shadow: 0 0 10px #00eeff, 0 0 20px #00eeff, 0 0 40px #00eeff;
}
footer{
    background-color: #273036;

}
@media screen and (max-width:767.98px){
    #navbar-button{
        max-width: 50px;
    }
}
@media screen and (min-width:768px) and (max-width:991.98px){
    #project-paragraph{
        margin: 0 100px;
        margin-bottom: 40px;
    }
    #submit-button{
        max-width: 300px;
        width: 100%;
    }
}
@media screen and (min-width:992px){
    #project-paragraph{
        margin: 0 350px;
        margin-bottom: 40px;
    }
    #submit-button{
        max-width: 400px;
        width: 100%;
    }
    #card{
        min-height:400px;
    }
    #project-cards{
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}