body,html{
    font-family: "poppins",sans-serif !important;
    overflow-x: hidden;
    font-size: 0.8rem;
    padding-top: 70px;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color:#0a0a0a;
}

#my-skills-card{
    min-height: 10px;
}
.card-img-top{
    min-height: 40px;
    height: 100%;
}
#my-name{
    font-size: 1.5rem;
}
svg {
  display: block;
  margin-top: -1px;
}
.small-icons{
    margin-right: 20px;
    margin-top: 3px;
}
.large-icons{
    margin-right: 40px;
    margin-top: 6px;
}
.about-me-socials{
    background-color: white;
    color: #273036;
    padding: 3px;
    border-radius: 4px;
    margin-left: 10px;
}
#about-me-photo{
    height: auto;
    object-fit: contain;
    border-radius: 230px;
}
#about-me-info{
    margin-top: 50px;
}
#small-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "poppins",sans-serif;
    font-size: 0.8rem;
}
.role{
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    color: black;
    margin-bottom: 20px;
}
.skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.skills-section .cells .cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 10px 20px;
    border: solid 1px rgb(231, 230, 230);
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
.skills-image{
    height: 40px;
    max-height: 100%;
}

#css-logo{
    height: 60px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#bootstrap-logo{
    height: 30px;
    margin-bottom: 10px;
}
#git-logo{
    height: 30px;
    margin-bottom: 10px;
}
.bio{
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#tel{
    margin-top: 20px;
}
#button{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hr{
    margin-top: 20px;
    margin-bottom: 80px;
}
.project-img{
    height: 200px;
    object-fit: cover;
}
.project-links{
    text-decoration: none;
}
#a-one-image{
    border: solid 1px rgb(199, 199, 199);
}
.project-paragraph{
    margin: 0 40px;
    margin-bottom: 40px;
}
#project-container{
    margin-bottom: 60px;
}
#submit-button{
    max-width: 200px;
    width: 100%;
    background-color: #0a0a0a;
    margin-top: 30px;
}
.card{
    border-radius: 20px !important;
}
.cert-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
#cert{
    max-width: 300px;
    margin-top: 30px;
    border-radius: 10px;
}
footer{
    background-color: #0a0a0a !important;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.btn-hover-bounce:hover {
  animation: bounce 0.4s ease-in-out;
}

#my-skills-card:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.glowing-icon {
  display: inline-block;
  margin: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 30%;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  box-shadow: 0 0 5px white, 0 0 10px white;
  transition: all 0.3s ease;
}

.glowing-icon:hover {
  background: white;
  color: black;
;
  box-shadow: 0 0 10px #00eeff, 0 0 20px #00eeff, 0 0 40px #00eeff;
}
footer{
    background-color: #273036;

}
@media screen and (max-width:767.98px){
    #navbar-button{
        max-width: 50px;
    }
    #skill-paragraph{
        margin: 0 -20px;
    }
    #project-paragraph{
        margin: 0 25px;
    }
    #project-cards{
        margin: 0 20px;
    }
}
@media screen and (min-width:768px) and (max-width:991.98px){
    .project-paragraph{
        margin: 0 100px;
        margin-bottom: 40px;
    }
    #submit-button{
        max-width: 300px;
        width: 100%;
    }
    #my-name{
        font-size: 2rem;
    }
    #skill-paragraph{
        margin: 0 100px;
    }
    #project-paragraph{
        margin: 0 150px;
    }
    #about-me-photo{
        border-radius: 230px;
    }
    #cert{
        max-width: 500px;
    }
}
@media screen and (min-width:992px){

    #submit-button{
        max-width: 400px;
        width: 100%;
    }
    #card{
        min-height:400px;
    }
    #project-cards{
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    #linkedin-git{
        margin-right: 50px;
    }
    #my-name{
        font-size: 2rem;
    }
    #skill-paragraph{
        margin: 0 150px;
    }
    #project-paragraph{
        margin: 0 200px;
    }
    #cert{
        max-width: 600px;
    }
}